<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Text Utility</title>
</head>
<body>
    <div class="container">
        <h1>Text Utility</h1>
        <div class="content">
            <p>Enter Your Text Here</p>
            <form action="/result" method="post">
                <textarea name="strInput" class="strInput" cols="200" rows="15" placeholder="please start writing" autofocus required></textarea>
                <div class="options">
                    <div>
                        <input type="radio" name="toCase" id="toUppercase" value="upper">
                        <label for="toUppercase">To Uppercase</label>
                    </div>
                    <div>
                        <input type="checkbox" name="removeAllSpaces" id="removeAllSpaces">
                        <label for="removeAllSpaces">Remove All Spaces</label>
                    </div>
                    <div>
                        <input type="radio" name="toCase" id="toLowercase" value="lower">
                        <label for="toLowercase">To Lowercase</label>
                    </div>
                    <div>
                        <input type="checkbox" name="removeAllCommas" id="removeAllCommas">
                        <label for="removeAllCommas">Remove All Commas</label>
                    </div>
                </div>
                <div class="btns">
                    <input type="reset" class="btn" value="Clear">
                    <input type="submit" class="btn" value="Submit">
                </div>
            </form>
        </div>
        <p class="footer">Copyright Team Fellow Developers 2021</p>
    </div>
</body>
</html>